/* Reset some default styles for better consistency */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Mortel', serif;
  background-color: #5D675B;
}

/* Create a flex container for the grid */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5D675B;
  padding: 10px;
}

/* Style each grid item */
.gallery-item {
  margin: 0px;
}

/* Add some space around the images */
.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.social-icons a {
  font-size: 30px;
  margin: 0 10px;
}

/* Customize the font color */
body {
  color: #C9B1BD; /* Use the color 6C3A5C for the font color */
}
